* {
    box-sizing: border-box; /* Huomioi reunat ja täytöt elementin leveydessä ja korkeudessa */
    font-family: 'oswald', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #25383C; /* Dark Slate Gray*/
}

header {
    background-color: #25383C; /* Dark Slate Gray*/
    border: 4px solid #0C090A; /* Night */
    padding: 10px 0;
    height: auto; /* Muuta korkeus automaattiseksi */
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Teksti yläosaan */
}

.header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* Keskitä kaikki elementit */
    text-align: center;
    padding: 10px; /* Lisää sisätilaa elementin ympärille */
}

.otsikko {
    font-size: 60px;
    color: #D1D0CE;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: -10px;
    text-shadow: 
        1px 1.5px 1px #CD7F32,
        -1px -1px 2px #E5E4E2,
        5px 5px 5px #BCC6CC;
}

p.info {
    font-size: 32px;
    color: #25383C; /* Vaihdettu väri, jotta se erottuu paremmin taustasta Dark Slate Gray*/
    font-weight: bold;
    margin: 0 0 10px 0; /* Lisää marginaalit */
    text-shadow: 
        2px 4px 4px #E5E4E2,
        -1px -1px 2px #E5E4E2,
        5px 5px 5px rgba(214, 192, 174, 0.763);
}

/* Media Queries */
@media (max-width: 768px) {
    .otsikko {
        font-size: 48px;
        margin-top: 20px;
    }

    p.info {
        font-size: 30px;
        text-align: center;
        /* Keskitä teksti mobiilikäyttöön */
        padding-left: 0;
        /* Poista vasen täyttö paremman tasauksen saavuttamiseksi */
        margin-bottom: -25px;
    }

    .nav_otsikko {
    font-size: 20px;
    /* Pienennetty fonttikokoa mobiilikäyttöön */
    margin-top: 10px;
        /* Varmista tarvittaessa hieman lisää tilaa yläreunassa */
    }

    .main_container {
    width: 95%;
    padding: 15px; /* Pienennetty sisätilaa ja lisätty hieman tilaa elementin ympärille */
    margin: 0 auto;
    /* Keskitetty elementti */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Lisätty kevyt varjo elementin ympärille */
    }

    .footer {
    font-size: 24px;
    padding: 8px 0;
    margin-bottom: -20px; /* Nosta tekstiä ylöspäin vielä enemmän */
    }
    
    .footer-text {
    font-size: 20px;
    border-width: 4px;
    margin-bottom: -20px; /* Nosta tekstiä ylöspäin vielä enemmän */
    box-shadow:
        0px 0px 20px 10px rgb(232, 229, 227),
        /* Vaalea varjo ympärille */
        8px 8px 30px rgba(255, 165, 0, 0.9),
        /* Oranssi varjo oikealle ja alaspäin */
        -8px -8px 30px rgb(166, 81, 7),
        /* Oranssi varjo vasemmalle ja ylöspäin */
        0px 15px 20px rgba(234, 101, 6, 0.998),
        /* Alapuolen varjo */
        0px -15px 20px rgba(112, 50, 3, 0.963);
        * Yläpuolen varjo */
        }
}

@media (max-width: 480px) {
    .otsikko {
        font-size: 40px;
        /* Säädä marginaalia pienimmille näytöille */
    }

    p.info {
        font-size: 25px;
        margin-bottom: -18px;
    }

    .nav_otsikko {
    font-size: 18px;
    /* Entisestään pienennetty fonttikokoa pienimmille näytöille */
    margin-top: 10px;
        /* Varmista tarvittaessa hieman lisää tilaa yläreunassa */
    }

    .main_container {
    width: 95%;
    padding: 15px;
    /* Pienennetty sisätilaa ja lisätty hieman tilaa elementin ympärille */
    margin: 0 auto;
    /* Keskitetty elementti */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Lisätty kevyt varjo elementin ympärille */
    }

    .footer {
    font-size: 18px;
    padding: 6px 0;
    margin-bottom: -20px; /* Nosta tekstiä ylöspäin vielä enemmän */
    }
    
    .footer-text {
    font-size: 16px;
    border-width: 2px;
    margin-bottom: -20px; /* Nosta tekstiä ylöspäin vielä enemmän */
    box-shadow:
        0px 0px 15px 5px rgb(232, 229, 227),
        /* Vaalea varjo ympärille */
        5px 5px 20px rgba(255, 165, 0, 0.9),
        /* Oranssi varjo oikealle ja alaspäin */
        -5px -5px 20px rgb(166, 81, 7),
        /* Oranssi varjo vasemmalle ja ylöspäin */
        0px 10px 15px rgba(234, 101, 6, 0.998),
        /* Alapuolen varjo */
        0px -10px 15px rgba(112, 50, 3, 0.963);
        /* Yläpuolen varjo */
    }
}

nav {
    background-color: #BCC6CC; /* Metallic Silver */
    text-align: center;
    
    border-right: 4px solid #0C090A; /* Night */
    border-left: 4px solid #0C090A; /* Night */
    border-bottom: 8px solid #25383C; /* Dark Slate Grey */
    
    display: flex;
    flex-direction: column;
    align-items: center;  
}

.nav_otsikko {
    font-size: 40px;
    font-weight: bold;
    color: #25383C; /* Dark Slate Grey */
    text-shadow: 
    1px 2px 1px #070500, /* Platinum */
    -1px -1px 20px #010000, /* Platinum */
    5px 5px 5px #436268; /* Kontrastia */
    white-space: normal; /* Varmistaa, että teksti menee allekkain tarvittaessa */
    text-align: center;
    /* Lisää tämä, jotta teksti on keskitetty */
    word-wrap: break-word;
    /* Lisää tämä, jotta sanat katkaistaan tarvittaessa */
}

nav a:hover {
    color: #FFF5EE; /* Vaihda tekstiväri Sea Shell */
    background-color: #25383C; /* Vaihda taustaväri Dark Slate Grey */
    transition: color 0.6s ease, background-color 0.35s ease; /* Lisätään siirtymäefekti värien muutokselle */
    border-radius: 8px;
    padding: 3px;
}

.ul-linkit {
    display: flex;
    flex-wrap: wrap; /* Jotta linkit siirtyvät uudelle riville tarvittaessa */
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
    width: 100%;
}

.linkit {
    font-size: 22px;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    margin: 5px;
    border: 2px solid #25383C; /* Dark Slate Grey */
    border-radius: 10px;
    background-color: #c3d7e7; /* Azure */
    padding: 8px;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.571); /* Vaalea varjo, joka sopii Dark Slate Grey -väriin */
}

.linkit:hover {
    transform: translateY(-3px); /* Nostetaan hieman ylöspäin */
    box-shadow: 0px 0px 20px 5px rgb(23, 15, 9); /* Lisätään varjo joka suuntaan */
    
}

.linkit a {
    color: #25383C; /* Linkkien väri Dark Slate Grey */
    text-decoration: none; /* Poistaa alleviivauksen */
}


main {
    border-right: 4px solid #25383C;
    border-left: 4px solid #25383C;
    border-bottom: 8px solid #25383C; /* Dark Slate Grey */
    padding-top: 10px;
    padding-bottom: 10px; /* Lisää tilaa alas */
    width: 100%;
    height: auto; /* Mukauta korkeus sisällön mukaan */
    background-color: #ecf0f1; /* Clouds FLAT UI taustaväri */
    
}

.main_container {
    width: 90%; /* Voit säätää leveyttä tarpeen mukaan */
    margin: 0 auto; /* Keskittää sisällön vaakasuunnassa */
    padding: 20px; /* Lisää tilaa ympärille */
    /* Lisää reunoille varjo */
    box-shadow:
        10px 0 10px rgba(0, 0, 0, 0.1),
        /* Varjo oikealle */
        -10px 0 10px rgba(0, 0, 0, 0.1);
        /* Varjo vasemmalle */
}

.main_perus  {
    font-size: 20px;
    font-style: italic;
    line-height: 1.5;
    text-shadow: 0.5px 1px 0.5px rgb(163, 92, 92);
    padding-left: 10px;
}

.main_otsikko_teksti {
    font-size: 24px;
    text-shadow: 1px 1px 1px hsla(219, 61%, 48%, 0.934);
}

.ul-main  {
    font-size: 18px;
    list-style-type: square;
    margin-bottom: 4px;
    text-shadow: 1px 1px 1px rgb(255, 115, 0);
}

.lista_hover {  /* Määrittää sisennetyn listan ulkoasun ja sijoituksen*/
    margin-left: 30px;
    font-size: 18px;
    color: #2980b9; /* Belize Hole */
    list-style-type:none;   /* Poistaa oletusarvoisen listan tyylin (list-style-type: none) */
}

.lista_hover li {      /* Määrittää yksittäisten listan osien ulkoasun ja sijoituksen: */
    position: relative;
    padding-left: 1.5em; /* Jätetään tilaa ympyrälle */
    margin-bottom: 0.5em; /* Vähän tilaa kohteiden väliin */
}

.lista_hover li::before {       /* Määrittää listan osan edessä olevan ympyrän ulkoasun: */
    content: '';                /* Sisällön tyhjäksi (content: '') */
    position: absolute;         /* Absoluuttinen positio (position: absolute) */ 
    left: 0;                    /* Asettaa ympyrän vasemman reunan (left) */
    top: 0.5em;                 /* Säätää ympyrän vertikaalista sijaintia */
            
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%; /* Tekee ympyrän */
    background-color: rgb(14, 0, 171); /* Pallukan väri */
}

table {
    margin-left: 20px;
    width: 45%;
    border-collapse: collapse;
    margin-top: 20px;
}

.taulukko_otsikko {
    text-align: center;
    border: 3px solid black;
    font-size: 24px;
    text-shadow: 1px 1px 2.5px rgba(0, 0, 0, 0.5);
}

.taulukko_alaosa {
    text-align: center;
    border: 3px solid black;
    font-size: 20px;
    font-weight: 400;
    text-shadow: 1px 1px 2.5px rgba(0, 0, 0, 0.5);
}

/* Bootstrap tehtävän järjestetty lista tyyli */
ol {
    list-style-type: decimal;
    font-size: 1.2em; /* Suurentaa fonttikokoa */
    font-weight: bold; /* Tekee numerot lihavoiduksi */
}
ol li::marker {
    color: #25383C; /* Muuttaa numerot Dark Slate Grey */
}

.bootstrap {
    font-size: 20px;
    font-weight: 400;
    text-shadow: 1px 1px 2.5px rgba(0, 0, 0, 0.5);
    margin-left: 20px;
}

.bootstrap {
    position: relative;
    padding-left: 20px; /* Tilaa luettelomerkin ja tekstin väliin */
    margin-top: 10px;
    margin-bottom: 10px;
}
.bootstrap::before {
    content: "•"; /* Luettelomerkki */
    position: absolute;
    left: 0;
    color: #007bff; /* Sininen väri */
    font-size: 1.6em; /* Suurempi luettelomerkki */
    line-height: 1; /* Korjaa linjakorkeuden */
}

/* Allekirjoitus */
.greeting {
    font-family: 'Arial', sans-serif;
    font-size: 1.3em;
    font-weight: 400;
    text-shadow: 1.5px 1.5px 2.5px rgba(0, 0, 0, 0.5);
    margin-left: 10px;
    color: #2c3e50;
    margin-top: 40px;
}


.signature {
    font-family: 'Great Vibes', cursive;
    font-size: 2em;
    color: #2c3e50;
    margin-left: 10px;
    text-shadow: 1px 1px 2px #bdc3c7;
}

/* Takaisin sivun alkuun nappula */
#scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 16px;
    padding: 10px;
    border: none;
    outline: none;
    background-color: #000000;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    transition: opacity 0.3s;
}

#scrollToTopBtn:hover {
    background-color: #646464;
}

/* Footerin ulkoasu */
.footer {
    text-align: center;
    border: 4px solid #CD7F32; /* Ruskean sävy */
    /* Footerin sijoittelu sivulla */
    position: relative; /* Sivun alareunaan nähden */
    width: 100%; 
    font-family: 'Oswald', sans-serif;
    color: #FFF5EE; /* Sea Shell väri */
    font-size: 36px;
    font-weight: bold;
    

    /* Tekstille varjo */
    text-shadow: 
    4px 4px 10px rgba(0, 0, 0, 0.758), /* Musta */
    -4px -4px 10px rgba(255, 255, 255, 0.76), /* Valkoinen */
    8px -8px 12px rgba(255, 217, 0, 0.895), /* Kulta */
    -8px 8px 12px rgba(255, 166, 0, 0.879), /* Oranssi */
    0px 0px 10px rgba(0, 0, 0, 0.6); /* Musta */
}

/* Teksti footerissa */
.footer-text {
    border: 8px solid #BCC6CC; /* Hopeinen sävy */
    border-radius: 20px; /* Pyöristys */
    box-shadow: 
        0px 0px 30px 15px rgb(232, 229, 227), /* Vaalea varjo ympärille */
        10px 10px 40px rgba(255, 165, 0, 0.9), /* Oranssi varjo oikealle ja alaspäin */
        -10px -10px 40px rgb(166, 81, 7), /* Oranssi varjo vasemmalle ja ylöspäin */
        0px 20px 30px rgba(234, 101, 6, 0.998), /* Alapuolen varjo */
        0px -20px 30px rgba(112, 50, 3, 0.963); /* Yläpuolen varjo */
    
    padding: 5px;
}