/* Resetointi ja perusasetukset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Canvas-tyyli Ambilight-efektillä */
canvas {
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: transparent;
    border: solid 15px #25383C;
    border-radius: 15px;
    box-shadow:
        0 -10px 40px 20px rgba(130, 202, 255, 0.8),
        0 -20px 80px 40px rgba(130, 202, 255, 0.6),
        0 -30px 120px 60px rgba(130, 202, 255, 0.4),
        0 -40px 160px 80px rgba(130, 202, 255, 0.2),
        0 20px 40px 20px rgba(67, 124, 23, 0.8),
        0 40px 80px 40px rgba(67, 124, 23, 0.6),
        0 60px 120px 60px rgba(67, 124, 23, 0.4),
        0 80px 160px 80px rgba(67, 124, 23, 0.2);
    transition: transform 0.3s ease;
}

canvas:hover {
    transform: scale(1.05);
}

/* Linkit */
a {
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Sivun rakenne */
header {
    background: #25383C;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 48px;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    padding: 10px 15px;
    background: #0C090A;
    border-radius: 5px;
    font-size: 18px;
}

nav ul li a:hover {
    background: #444;
}

/* Pääsisältö */
main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #98AFC7;
}

main section {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #CFECEC;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    /* Täysin leveys kaikilla näyttökoilla */
    max-width: 800px;
    /* Maksimileveys, jotta sisältö ei veny liikaa suuremmilla näytöillä */
}

main h2 {
    margin-bottom: 10px;
}

/* Alatunniste */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}

/* Mediatiedustelut responsiivisuutta varten */
@media (max-width: 768px) {
    header h1 {
        font-size: 36px;
        /* Pienennetty otsikon fonttikokoa mobiililaitteille */
    }

    nav ul li {
        display: block;
        margin-bottom: 10px;
    }

    nav ul li a {
        display: block;
        font-size: 16px;
        /* Pienennetty linkkien fonttikokoa mobiililaitteille */
        padding: 8px 12px;
        /* Pienennetty paddingia mobiililaitteille */
    }

    main section {
        padding: 15px;
        /* Pienennetty osioiden sisäpaddingia mobiililaitteille */
    }

    /* Pienennetään canvas-elementtiä mobiililaitteille */
    canvas {
        width: 100%;
        /* Täysi leveys mobiililaitteilla */
        height: auto;
        /* Automaattinen korkeus, säilyttää kuvasuhteen */
        max-width: 100%;
        /* Maksimileveys täysin responsiiviselle skaalaukselle */
        margin-top: 10px;
        /* Pienennetään ylämarginaalia */
        margin-bottom: 10px;
        /* Pienennetään alamarginaalia */
    }
}

/* code erottaa tekstin paremmin vaaleasta pohjasta */
code {
    background-color: #f0f0f0;
    padding: 2px 4px;
    border-radius: 4px;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    font-size: 0.9em;
}

#home {
    margin-top: 20px;
    padding: 20px;
    background-color: #CFECEC;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#home p {
    font-style: italic;
    font-weight: bold;
    color: #666;
    font-size: 16px;
    line-height: 1.8;
}

#home a {
    color: #0077cc;
    /* Valitse haluamasi linkkiväri */
    text-decoration: none;
    border-bottom: 1.5px solid #0077cc;
    /* Lisää alaviiva linkin alle */
    transition: border-bottom-color 0.3s ease;
    /* Lisää siirtymäefekti */
}

#home a:hover {
    border-bottom-color: #000000;
    /* Alaviivan väri hover-tilassa */
}

#about {
    margin-top: 20px;
    padding: 20px;
    background-color: #E5E4E2;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#about h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

#about h3 {
    color: #555;
    font-size: 20px;
    margin-bottom: 8px;
}

#about h4 {
    color: #777;
    font-size: 18px;
    margin-bottom: 8px;
}

#about p {
    color: #666;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 12px;
}

#about ol {
    color: #666;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 12px;
    padding-left: 20px;
}

#about ul {
    color: #666;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 8px;
    padding-left: 20px;
}

#about li {
    margin-bottom: 4px;
}

.back-button {
    margin-top: 10px;
    margin-left: 10px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #2980b9;
    /* Belize Hole väri */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.back-button:hover {
    background-color: #0b28e4;
    /* Tummempi sininen väri hover-tilassa */
}

/* Takaisin sivun alkuun nappula */
#scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 16px;
    padding: 10px;
    border: none;
    outline: none;
    background-color: #000000;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    transition: opacity 0.3s;
}

#scrollToTopBtn:hover {
    background-color: #646464;
}